/**************
 ! GTK settings
***************/

* {
  -gtkarrow-arrow-scaling: 0.5;
  -gtkexpander-expander-size: 8;
  -gtkstatusbar-shadow-type: none;
  -gtktoolitemgroup-expander-size: 8;
  -gtkwindow-resize-grip-height: 0;
  -gtkwindow-resize-grip-width: 0;
  -wncktasklist-fade-overlay-rect: 0;

  -gtkwidget-cursor-color: $primary_caret_color;
  -gtkwidget-secondary-cursor-color: $secondary_caret_color;
  -gtkwidget-cursor-aspect-ratio: $caret_aspect_ratio;

  outline-color: alpha($selected_bg_color, 0.5);
  outline-style: dashed;
  outline-width: 1px;
  outline-offset: -1px;
  outline-radius: $roundness;
}

/*************
 ! Base states
 *************/

%selected {
  &,
  &:focus {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
  }
}

* {
  /* hyperlinks */
  -gtkhtml-link-color: $link_color;
  -gtkimhtml-hyperlink-color: $link_color;
  -gtkwidget-link-color: $link_color;
  -gtkwidget-visited-link-color: $link_color;

  &:selected {
    @extend %selected;
  }

  &:insensitive,
  &:insensitive:insensitive {
    color: mix($fg_color, $bg_color, 0.5);
  }

  &:insensitive {
    -gtk-image-effect: dim;
  }

  &:hover {
    -gtk-image-effect: highlight;
  }

  &:link,
  &:visited {
    color: $link_color;
  }
}

.background {
  background-color: $bg_color;
  color: $fg_color;

  &:backdrop {
    text-shadow: none;
    icon-shadow: none;
  }

  &.csd {
    background-color: $bg_color;
  }
}

.gtkstyle-fallback {
  background-color: alpha($bg_color, 0.5);
  color: $fg_color;

  &:hover {
    background-color: shade($bg_color, 1.1);
    color: $fg_color;
  }

  &:active {
    background-color: shade($bg_color, 0.9);
    color: $fg_color;
  }

  &:insensitive {
    background-color: shade(shade($bg_color, 0.95), 1.05);
    color: mix($fg_color, $bg_color, 0.5);
  }

  &:selected {
    @extend %selected;
  }
}

GtkImage,
GtkLabel,
GtkBox,
GtkGrid {
  &,
  &:insensitive {
    background-color: transparent;
  }
}

GtkLabel {
  &.separator {
    @extend .dim-label;

    color: $fg_color;
  }

  &:selected {
    @extend %selected;
  }

  &:insensitive {
    color: mix($fg_color, $bg_color, 0.5);
  }
}
