/* Color Pallete */

$pallete: (
  pure-white: #ffffff,
  ash: #eeeeee,
  ashley: #dddddd,
  igray: #808080,
  vicious: #27ae60,
  vicious-dark: #239e57,
  alizarin: #e74c3c,
  pomegranate: #c0392b,
  peter-river: #3498db,
  belize-hole: #2980b9,
  pure-black: #000000,
);

/* Pallete helper methods.*/
@mixin color($color, $type: "color", $imp: false, $opacity: 1) {
  $color: map-get($pallete, $color);

  @if $opacity != 1 {
    $color: rgba($color, $opacity);
  }
  @if $imp == true {
    $color: $color !important;
  }

  @if $type == "bg" {
    background-color: $color;
  } @else if $type == "border" {
    border-color: $color;
  } @else {
    color: $color;
  }
}
